USE [master]
GO
/****** Object:  Database [PORTFOLIO_TRACKER_API]    Script Date: 27-Jun-25 7:27:12 PM ******/
CREATE DATABASE [PORTFOLIO_TRACKER_API]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Portfolio_Tracker_API', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Portfolio_Tracker_API.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Portfolio_Tracker_API_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Portfolio_Tracker_API_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PORTFOLIO_TRACKER_API].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PORTFOLIO_TRACKER_API]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 27-Jun-25 7:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Assets](
	[Id] [uniqueidentifier] NOT NULL,
	[Symbol] [varchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[InvestorId] [uniqueidentifier] NOT NULL,
	[AssetTypeId] [uniqueidentifier] NOT NULL,
	[AvgUnitPrice] [decimal](8, 4) NOT NULL,
	[CurrentQuantity] [decimal](12, 4) NOT NULL,
	[CurrentMarketPrice] [decimal](8, 4) NOT NULL,
	[TotalInvestedValue] [decimal](15, 4) NOT NULL,
	[CurrentPnLRate] [decimal](5, 2) NOT NULL,
	[TargetBuyPrice] [decimal](8, 4) NOT NULL,
	[TargetSellPrice] [decimal](8, 4) NOT NULL,
	[TargetPnLRate] [decimal](5, 2) NOT NULL,
	[CreatedAt] [date] NOT NULL,
	[UpdatedAt] [date] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Assets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Assets] UNIQUE NONCLUSTERED 
(
	[Symbol] ASC,
	[InvestorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AssetTypes]    Script Date: 27-Jun-25 7:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AssetTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[TypeCode] [varchar](7) NOT NULL,
	[TypeName] [nvarchar](15) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_AssetTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_TypeCode] UNIQUE NONCLUSTERED 
(
	[TypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_TypeName] UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Investors]    Script Date: 27-Jun-25 7:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Investors](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Investors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 27-Jun-25 7:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [uniqueidentifier] NOT NULL,
	[AssetId] [uniqueidentifier] NOT NULL,
	[Quantity] [decimal](12, 4) NOT NULL,
	[UnitPrice] [decimal](8, 4) NOT NULL,
	[GrossAmount] [decimal](15, 4) NOT NULL,
	[FeeRate] [decimal](5, 2) NOT NULL,
	[Fee] [decimal](8, 4) NOT NULL,
	[NetAmount] [decimal](15, 4) NOT NULL,
	[IsBuy] [bit] NOT NULL,
	[RealizedPnL] [decimal](8, 4) NOT NULL,
	[RealizedPnLRate] [decimal](5, 2) NOT NULL,
	[CreatedAt] [date] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assets] ADD  CONSTRAINT [DF_Assets_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Assets] ADD  CONSTRAINT [DF_Assets_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[AssetTypes] ADD  CONSTRAINT [DF_AssetTypes_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[AssetTypes] ADD  CONSTRAINT [DF_AssetTypes_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Investors] ADD  CONSTRAINT [DF_Investors_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Investors] ADD  CONSTRAINT [DF_Investors_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Investors] ADD  CONSTRAINT [DF_Investors_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_IsBuy]  DEFAULT ((0)) FOR [IsBuy]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_AssetTypes] FOREIGN KEY([AssetTypeId])
REFERENCES [dbo].[AssetTypes] ([Id])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_AssetTypes]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Investors] FOREIGN KEY([InvestorId])
REFERENCES [dbo].[Investors] ([Id])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Investors]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Assets] FOREIGN KEY([AssetId])
REFERENCES [dbo].[Assets] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Assets]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [CK_Assets_AvgUnitPrice] CHECK  (([AvgUnitPrice]>=(0.0)))
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [CK_Assets_AvgUnitPrice]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [CK_Assets_CurrentMarketPrice] CHECK  (([CurrentMarketPrice]>=(0.0)))
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [CK_Assets_CurrentMarketPrice]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [CK_Assets_CurrentQuantity] CHECK  (([CurrentQuantity]>=(0.0)))
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [CK_Assets_CurrentQuantity]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [CK_Assets_TargetBuyPrice] CHECK  (([TargetBuyPrice]>=(0.0)))
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [CK_Assets_TargetBuyPrice]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [CK_Assets_TargetSellPrice] CHECK  (([TargetSellPrice]>=(0.0)))
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [CK_Assets_TargetSellPrice]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [CK_Assets_TotalInvestedValue] CHECK  (([TotalInvestedValue]>=(0.0)))
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [CK_Assets_TotalInvestedValue]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [CK_Transactions_Fee] CHECK  (([Fee]>(0.0)))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [CK_Transactions_Fee]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [CK_Transactions_FeeRate] CHECK  (([FeeRate]>(0.0)))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [CK_Transactions_FeeRate]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [CK_Transactions_GrossAmount] CHECK  (([GrossAmount]>(0.0)))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [CK_Transactions_GrossAmount]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [CK_Transactions_NetAmount] CHECK  (([NetAmount]>(0.0)))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [CK_Transactions_NetAmount]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [CK_Transactions_Quantity] CHECK  (([Quantity]>(0.0)))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [CK_Transactions_Quantity]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [CK_Transactions_UnitPrice] CHECK  (([UnitPrice]>(0.0)))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [CK_Transactions_UnitPrice]
GO
USE [master]
GO
